.buttons {
  display: flex;
  justify-content: space-between;
}

/* (Christi): nit disable or override focus outline.
    anything other than the out of the box blue is 
    better in my opinion
*/
button {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 1px solid white;
}

.start {
  background-color: rgba(0, 255, 0, 0.3);
  color: lime;
  font-weight: 700;
}

.stop {
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  font-weight: 700;
}

.lap {
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
}
