/* (Christi): some people have a different opinion on this,
but I think it is messy to include browser specific styles.
However, sometimes webkit is the only option. Depending 
on how you configure your styles, libraries such as PostCss
and styled-components will handle the cross browser fill ins.
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
